<div>
  <!--sub headers-->
  <header class="sub-header">
    <div class="ui-container">
        <!--actions-->
        <div class="actions desktop">
            <!-- TODO: remove disabled; hook up dialog -->
            <a href="javascript:void(0);" class="btn add-new disabled" style="width:180px"><i></i>Announce Winners</a>
        </div>
        <!--title-->
        <div>
          <h3>
            <i></i>Submissions
          </h3>
          <a ng-href="{{vm.tcChallengeDetailsURL(vm.challenge)}}" target="_blank">{{vm.challenge.name}} <i class="fa fa-sm fa-external-link-square"></i></a> / Submissions
        </div>
    </div>
  </header>
  <div class="ui-container">
    <table data-ng-table="vm.tableParams" class="table subAppTable {{browser==='safari'?'safari':''}}">
      <thead>
      <tr>
          <th class="checkAll">
                  &nbsp;
          </th>
          <th class="sortable" data-ng-class="{
              'sort-asc': vm.tableParams.isSortBy(header.col, 'asc'),
              'sort-desc': vm.tableParams.isSortBy(header.col, 'desc')
            }" data-ng-repeat="header in vm.columnHeaders"><div data-ng-click="vm.tableParams.sorting(header.col, vm.tableParams.isSortBy(header.col, 'asc') ? 'desc' : 'asc')">{{header.colName}}<i></i></div></th>
          <th data-ng-if="!phone" class="text-center" colspan="3"><div>Action</div></th>
      </tr>
      </thead>
      <tbody data-ng-repeat="scorecard in $data">
          <tr class="{{checkboxes.items[scorecard.id]?'select':''}}" data-ng-class="$odd?'odd':''">
              <td>
                  &nbsp; {{vm.tableParams.total | json}}
              </td>
              <td data-ng-if="phone" class="text-left" data-sortable="'col1'">
                  <a href="javascript:" class="add-btn {{submission.expand?'expand':''}}" data-ng-click="toggleExpand(submission)"></a>
              </td>
              <td class="text-left" data-sortable="'sequence'">
                  {{scorecard.sequence}}
              </td>
              <td class="text-left" data-sortable="'submission'['submittedAt']">
                  {{scorecard.submission.submittedAt}}
              </td>
              <td class="text-left" data-sortable="'reviewer'">
                  {{scorecard.reviewer}}
              </td>
              <td class="text-left" data-sortable="'score'">
                  {{scorecard.score}}
              </td>
              <td data-ng-if="!phone" class="text-left" data-sortable="'status'">
                  {{scorecard.status}}
              </td>
              <!-- TODO: logic for actions -->
              <td data-ng-if="!phone" class="action-btn">
                  <!-- use download attribute to do download -->
                  <a href="{{scorecard.submission.url}}" download class="edit" title="Download Submission"></a>
              </td>
               <td data-ng-if="!phone" class="action-btn">
                  <a ng-if="submission.status === 'New'" href="#/challenges/{{challenge.id}}/submissions/{{scorecard.sequence}}/scorecard" class="copy" title="Create Scorecard"></a>
                  <a ng-if="submission.status !== 'New'" href="#/challenges/{{challenge.id}}/submissions/{{scorecard.sequence}}/scorecard" class="copy" title="Review Scorecard"></a>
              </td>
          </tr>
      </tbody>
    </table>
    <!--end table-->
    <div class="custom-pager">
        <span data-ng-if="!phone" class="label">Showing items <b>1-{{vm.tableParams.total()}}</b> of <b>{{vm.tableParams.total()}}</b></span>
    </div>

  </div>
</div>