<div>
  <!--sub headers-->
  <header class="sub-header">
    <div class="ui-container">
        <!--actions-->
        <div class="actions desktop">
            <!-- TODO: remove disabled; hook up dialog -->
            <a href="javascript:void(0);" class="btn" style="width:180px">Announce Winners</a>
        </div>
        <!--title-->
        <div>
          <h3>
            <i class="fa fa-file-archive-o"></i>Submissions
          </h3>
          <!-- /* TODO (BG: 10/22/2014): make breadcrumb an Angular component */ -->
          <!--breadcrumb-->
          <span class="aaf-sa-breadcrumb"><a ng-href="{{vm.tcChallengeDetailsUrl(vm.challenge)}}" target="_blank">{{vm.challenge.title}} <i class="fa fa-sm fa-external-link-square"></i></a> / Submissions </span>
        </div>
    </div>
  </header>
  <div class="ui-container">
    <table data-ng-table="vm.tableParams" class="table subAppTable {{browser==='safari'?'safari':''}}">
      <thead>
      <tr>
          <th class="checkAll">
                  &nbsp;
          </th>
          <th class="sortable" data-ng-class="{
              'sort-asc': vm.tableParams.isSortBy(header.col, 'asc'),
              'sort-desc': vm.tableParams.isSortBy(header.col, 'desc')
            }" data-ng-repeat="header in vm.columnHeaders"><div data-ng-click="vm.tableParams.sorting(header.col, vm.tableParams.isSortBy(header.col, 'asc') ? 'desc' : 'asc')">{{header.colName}}<i></i></div></th>
          <th data-ng-if="!phone" class="text-center" colspan="3"><div>Action</div></th>
      </tr>
      </thead>
      <tbody data-ng-repeat="submission in $data">
          <tr data-ng-class="$odd?'odd':''">
              <td>
                  &nbsp; {{vm.tableParams.total | json}}
              </td>
              <td data-ng-if="phone" class="text-left" data-sortable="'col1'">
                  <a href="javascript:" class="add-btn {{submission.expand?'expand':''}}" data-ng-click="toggleExpand(submission)"></a>
              </td>
              <td class="text-left" data-sortable="'id'">
                  {{submission.id}}
              </td>
              <td class="text-left" data-sortable="'updatedAt'">
                  {{submission.updatedAt}}
              </td>
              <td class="text-left" data-sortable="'updatedBy'">
                  {{submission.updatedBy}}
              </td>
              <td class="text-left" data-sortable="'scoreSum'">
                  {{submission.scorecard.scoreSum || 0}}
              </td>
              <td data-ng-if="!phone" class="text-left" data-sortable="'status'">
                  {{submission.scorecard.statusDisplay}}
              </td>
              <!-- TODO: logic for actions -->
              <td data-ng-if="!phone" class="action-btn">
                  <!-- use download attribute to do download -->
                  <a href="{{submission.file.filePath + submission.file.fileName}}" download class="fa fa-2x fa-download" title="Download Submission"></a>
              </td>
               <td data-ng-if="!phone" class="action-btn">
                  <a ng-if="!submission.scorecard.id" href="#/challenges/{{vm.challenge.id}}/submissions/{{submission.id}}/new" class="fa fa-2x fa-check-square-o" title="Create Scorecard"></a>
                  <a ng-if="submission.scorecard.id" href="#/challenges/{{vm.challenge.id}}/submissions/{{submission.id}}/scorecard/{{submission.scorecard.id}}/edit" class="fa fa-2x fa-check-square" title="Review Scorecard"></a>
              </td>
          </tr>
      </tbody>
    </table>
    <!--end table-->
    <div class="custom-pager">
        <span data-ng-if="!phone" class="label">Showing items <b>1-{{vm.tableParams.total()}}</b> of <b>{{vm.tableParams.total()}}</b></span>
    </div>

  </div>
</div>
