<div>
  <!--sub headers-->
  <header class="sub-header">
    <div class="ui-container">
      <!--actions-->
      <div class="actions desktop">
        <a href="/edit/#/new" class="btn add-new"><i></i>New Challenge</a>
      </div>
      <!-- End .actions -->
      <h3>
        <!-- i class="fa fa-trophy"></i>Challenge Listing -->
        <i></i>Challenge Listing
      </h3>
    </div>
  </header>

  <div class="ui-container">
    <table data-ng-table="vm.tableParams" class="table subAppTable {{browser==='safari'?'safari':''}}">
      <thead>
        <tr>
          <th class="checkAll">
          &nbsp;
          </th>
          <!-- Configurable Headers -->
          <th class=" sortable" data-ng-class="{
          'sort-asc': vm.tableParams.isSortBy(header.col, 'asc'),
          'sort-desc': vm.tableParams.isSortBy(header.col, 'desc')
          }" data-ng-repeat="header in vm.columnHeaders">
            <div data-ng-click="vm.tableParams.sorting(header.col, vm.tableParams.isSortBy(header.col, 'asc') ? 'desc' : 'asc')">{{header.colName}}<i></i></div>
          </th>
          <th data-ng-if="!phone" class="text-center" colspan="3"><div>Action</div></th>
        </tr>
      </thead>

      <tbody data-ng-repeat="challenge in $data">
        <tr data-ng-class="$odd?'odd':''">
          <td>
          &nbsp;
          </td>
          <td class="text-left" data-sortable="'name'" ng-switch on="challenge.status">
            <a ng-href="/edit/#/challenges/{{challenge.id}}/edit" ng-switch-when="Draft">{{challenge.name}} <i></i></a>

            <a ng-href="{{vm.toTCChallengeDetailsURL(challenge)}}" target="_blank" ng-switch-default>{{challenge.name}} <i class="fa fa-sm fa-external-link-square"></i></a>

          </td>
          <td class="text-left" data-sortable="'account.name'">
          {{challenge.account.name}}
          </td>
          <td class="text-left" data-sortable="'lastUpdatedAt'">
          {{challenge.lastUpdatedAt}}
          </td>
          <td data-ng-if="!phone" class="text-left" data-sortable="'status'">
          {{challenge.status}}
          </td>
          <td data-ng-if="!phone" class="action-btn" ng-switch on="challenge.status">
            <a ng-href="#/challenges/{{challenge.id}}/submissions" class="fa fa-2x fa-eye" ng-switch-when="Review" title="View Submissions"></a>
            <a ng-href="#/challenges/{{challenge.id}}/submissions" class="fa fa-2x fa-eye" ng-switch-when="Submission" title="View Submissions"></a>
            <a ng-href="#/challenges/{{challenge.id}}/results" class="fa fa-2x fa-eye" ng-switch-when="Complete" title="View Results"></a>
            <!-- <a ng-href="/edit/#/{{challenge.id}}" class="fa fa-2x fa-pencil" ng-switch-default title="Edit Challenge"></a> -->
          <a ng-href="/edit/#/new" class="fa fa-2x fa-pencil" ng-switch-default title="Edit Challenge"></a>
          </td>
          <td data-ng-if="!phone" class="action-btn">
            <a href="javascript:void(0);" ng-click="vm.deleteChallenge(challenge)" class="fa fa-2x fa-trash" data-ng-if="challenge.status === 'Draft'" title="Delete Challenge"></a>
          </td>
        </tr>
        </tbody>

    </table>

    <div class="custom-pager">
      <span data-ng-if="!phone" class="label">Showing items <b>1-10</b> of <b>{{vm.tableParams.total()}}</b></span>
    </div>

  </div>
</div>
