<div class="ui-navbar" data-ng-controller="ProfileController">
	<div class="ui-container">
		<a href="/" class="text-hide logo"></a>
		<div class="pull-right main-actions">	
			<nav>
				<ul>
					<li data-ng-class="{'active':popoverProfile}">
						<a href="javascript:void(0);" class="text-hide icon icon-profile" 
							data-ng-click="profile_open()"
							off-click="profile_close()">Profile
						</a>
					</li>
				</ul>
				
				<!-- User Profile Popover -->
				<div 
					class="ui-popover popover-profile" 
					data-ng-class="{'popover-open':popoverProfile}"
					force-click>
					<div class="popover-content">
						<div class="media">
							<a href="javascript:void(0);" class="text-hide icon-close"
								data-ng-click="profile_close()">
								Close
							</a>
							<div class="pull-left">
								<img src="img/user-thumb.png" data-ng-src="{{userInfo.thumb}}" alt="Thumb" class="thumbnail" />
							</div>
							<div class="media-body">
								<h4>{{userInfo.name}}</h4>
								{{userInfo.handle}}
							</div>
						</div>
						
						<div class="actions">
							<ul>
								<li>
									<a href="https://www.topcoder.com/member-profile/rockabilly/" target="_blank" class="icon-my-profile">My Profile</a>
								</li>
								<li>
									<a href="http://community.topcoder.com/tc?module=MyHome" target="_blank" class="icon-account-settings">Account Settings</a>
								</li>
								<li>
									<a href="https://www.topcoder.com/login/" class="icon-sign-out">Sign Out</a>
								</li>
							</ul>
						</div>
						<!-- End .actions -->
					</div>
				</div>
				<!-- End .popover-profile User Profile Popover -->
			</nav>
		</div>
		<!-- End .main-actions -->
	</div>
	<!-- End .ui-container -->
</div>
<!-- End .ui-navbar -->