<div>
    <!--sub headers-->
    <header class="sub-header">
        <div class="ui-container">
            <!--actions-->
            <div class="actions desktop">
                <!-- TODO: remove disabled; hook up dialog -->
                <a href="javascript:void(0);" class="btn add-new disabled" style="width:180px"><i></i>Announce Winners</a>
            </div>
            <!--actions-->
            <div class="actions mobile">

                <a href="javascript:void(0);" class="btn filter {{filter_popover_open?'active':''}}" data-ng-click="filter_open()"><i></i></a>
            </div>
            <!--title-->
            <div>
              <h3>
                <i></i>Submissions
              </h3>
              <a href="http://www.topcoder.com/challenge-details/{{challenge.id}}" target="_blank">{{challenge.name}}</a> / Submissions
            </div>
        </div>
    </header>
    <div class="ui-container">
        <table data-ng-table="tableParams" class="table subAppTable {{browser==='safari'?'safari':''}}">
            <thead>
            <tr>
                <th class="checkAll">
                        &nbsp;
                </th>
                <th class=" sortable" data-ng-class="{
                    'sort-asc': tableParams.isSortBy(header.col, 'asc'),
                    'sort-desc': tableParams.isSortBy(header.col, 'desc')
                  }" data-ng-repeat="header in columnHeaders"><div data-ng-click="tableParams.sorting(header.col, tableParams.isSortBy(header.col, 'asc') ? 'desc' : 'asc')">{{header.colName}}<i></i></div></th>
                <th data-ng-if="!phone" class="text-center" colspan="3"><div>Action</div></th>
            </tr>
            </thead>
            <tbody data-ng-repeat="scorecard in $data">
                <tr class="{{checkboxes.items[scorecard.id]?'select':''}}" data-ng-class="$odd?'odd':''">
                    <td>
                        &nbsp;
                    </td>
                    <td data-ng-if="phone" class="text-left" data-sortable="'col1'">
                        <a href="javascript:" class="add-btn {{submission.expand?'expand':''}}" data-ng-click="toggleExpand(submission)"></a>
                    </td>
                    <td class="text-left" data-sortable="'sequence'">
                        {{scorecard.sequence}}
                    </td>
                    <td class="text-left" data-sortable="'submission'['submittedAt']">
                        {{scorecard.submission.submittedAt}}
                    </td>
                    <td class="text-left" data-sortable="'reviewer'">
                        {{scorecard.reviewer}}
                    </td>
                    <td class="text-left" data-sortable="'score'">
                        {{scorecard.score}}
                    </td>
                    <td data-ng-if="!phone" class="text-left" data-sortable="'status'">
                        {{scorecard.status}}
                    </td>
                    <!-- TODO: logic for actions -->
                    <td data-ng-if="!phone" class="action-btn">
                        <!-- use download attribute to do download -->
                        <a href="{{scorecard.submission.url}}" download class="edit" title="Download Submission"></a>
                    </td>
                     <td data-ng-if="!phone" class="action-btn">
                        <a ng-if="submission.status === 'New'" href="#/challenges/{{challenge.id}}/submissions/{{scorecard.id}}/scorecard" class="copy" title="Create Scorecard"></a>
                        <a ng-if="submission.status !== 'New'" href="#/challenges/{{challenge.id}}/submissions/{{scorecard.id}}/scorecard" class="copy" title="Review Scorecard"></a>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="view == 'grid'" class="{{portrait?'portrait':''}} {{phone?'phone':''}}">
                <tr class="gridView">
                    <td class="no-bottom-border">
                        <div data-ng-if="$data.length > 0" class="grid_cnt">
                            <div class="grid col-lg-3 col-md-3 col-sm-4 {{checkboxes.items[item.id]?'select':''}}" data-ng-repeat="item in $data">
                                <!--grid header-->
                                <div class="header">
                                    <div class="input-cnt">
<!--                                         <label class="custom-checkbox">
                                            <input type="checkbox" data-ng-model="checkboxes.items[item.id]" />
                                            <span class="custom-checkbox"></span>
                                        </label>
 -->                                    &nbsp;    
                                    </div>
                                    <div class="actions">
                                        <!-- <a data-ng-if="!phone" href="javascript:" class="copy"></a> -->
                                        <a href="javascript:" class="edit"></a>
                                        <a href="javascript:" class="delete" data-ng-click="delete(item)"></a>
                                    </div>
                                </div>
                                <!--grid body-->
                                <div class="body">
                                    <div class="column" data-ng-repeat="header in columnHeaders">
                                        <strong>column : </strong> {{item[header.col]}}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--end table-->
        <div class="custom-pager">
            <span data-ng-if="!phone" class="label">Showing items <b>1-5</b> of <b>{{total}}</b></span>
<!--             <select class="styled" data-ng-model="pagerSelection" data-ng-options="option for option in pagerOptions" data-ng-change="changeCount(pagerSelection)"></select>
            <span data-ng-if="!phone" class="label">Per Page</span> -->
        </div>

    </div>
</div>