<div class="main has-challenge-map">

  <!-- include challenge-map template -->
  <data-ng-include src="'templates/challenge-map.html'"></data-ng-include>

  <section id="section-1" class="public-browsing" data-ng-style="setSectionMinHeight()">
    <header>
      <i></i>
      <h4>Information for Public Browsing</h4>
      <span>SUMMARIZE YOUR CHALLENGE AND CONVINCE THE COMMUNITY TO REGISTER</span>
    </header>
    <!--End .section header-->
    <div class="content">
      <form name="form1">
        <label>Challenge Title</label>
        <input data-maxlength="80" data-ng-model="challenge.title" type="text" placeholder="Give it a title, ones that inspire"/>
        <label>Overview</label>
        <textarea class="shortDesc" data-maxlength="100" data-ng-model="challenge.overview" placeholder="Give the audience a overview of this challenge"></textarea>
        <label>Description</label>
        <textarea class="longDesc" data-maxlength="1000" data-ng-model="challenge.description" placeholder="Give the audience a summary of why this challenge will be interesting enough to try and solve for you"></textarea>
        <label>Tags</label>
        <input class="tags-input" type="text" data-ng-model="tags" data-role="tagsinput"/>
      </form>
    </div>
    <!--End .section content-->
  </section>
  <!--End .section-->

  <section id="section-2" class="registered-contestants" data-ng-style="setSectionMinHeight()" data-ng-controller="ChallengeFileUploadController">
    <header>
      <i></i>
      <h4>Information for Registered Contestants</h4>
      <span>PROVIDE ADDITIONAL GUIDANCE FOR CONTESTANTS TO EXCEL</span>
    </header>
    <!--End .section header-->
    <div class="content">
      <p class="guidance">
        At times a picture or diagram is all that’s needed to convey an idea or insight into a problem. Take this time to consider giving your audience any necessary documents, pictures, or other types of files they may need in order to get up to speed with your challenge.
      </p>
      <!--End .guidance-->
      <div class="uploadBar">
        <div class="fileField pull-left">
          <p class="fileNameDisplay {{fileName ==='' ? 'fileNameDisplayNoFile' : ''}}">{{fileName!=='' ? fileName : 'Select File'}}</p>
          <label for="fileUploader" class="fileBrowser btn gray-btn">Browse</label>
          <input data-ng-class="{'invalid' : fileNameInvalid}" data-ng-file-select="onFileSelect($files)" type="file" name="myFile" class="fileInput" id="fileUploader">
        </div>
        <!--End .fileField-->
        <a href="javascript:" data-ng-click="uploadFile()" class="upload-btn pull-right"></a>
        <!--End .upload-btn-->
        <div class="fileDescription">
          <input data-ng-class="{'invalid' : fileTitleInvalid}" data-maxlength="80" type="text" data-ng-model="fileTitle" placeholder="File Title"/>
        </div>
        <!--End .description-->
      </div>

      <div class="file-holder">
        <div class="file" data-ng-repeat="file in fileBrowsing.uploadedFiles">
          <a href="javascript:" class="close-btn" data-ng-click="deleteFile(file)"></a>
          <!--End .close btn-->
          <i data-size="{{file.size}}">{{file.storageLocation}}</i>
          <h3>{{file.fileName}}</h3>
          <p>{{file.title}}</p>
        </div>
        <!--End .file-->

        <div class="file uploading" data-ng-if="uploading">
          <div class="inner">
            <span class="upload-label">Uploading file</span>
            <div data-progressbar data-value="progress"></div>
            <span class="percentage">{{progress}}%</span>
          </div>
        </div>
        <!--End .uploading-->

        <div class="file no-file" data-ng-if="!uploading && fileBrowsing.uploadedFiles.length===0">
          <div class="inner">
            <label><input type="checkbox" data-ng-model="noFile" data-ng-change="changeNoFile(noFile)">No files to attach to the challenge</label>
          </div>
        </div>
        <!--End .noFile-->
      </div>
        <!--End .file-holder-->
    </div>
      <!--End .section content-->
  </section>
  <!--End .section-->

  <!-- include requirement template -->
  <data-ng-include src="'templates/requirement.html'"></data-ng-include>

  <!-- include timeline template -->
  <data-ng-include src="'templates/timeline.html'"></data-ng-include>

  <!-- include prizes template -->
  <data-ng-include src="'templates/prizes.html'"></data-ng-include>

</div>
<!-- End .main -->