<section id="section-5" class="prize" data-ng-style="setSectionMinHeight()">
  <header>
    <i></i>
    <h4>Prizes</h4>
    <span>HOW MUCH DO THE WINNERS RECEIVE?</span>
  </header>
  <!--End .section header-->
  <div class="content">
    <p class="prize-desc">
      Everyone likes to be rewarded for their hard work. Generous prize amounts will give your challenge more attention from the community: more submissions and higher quality.
    </p>
    <!--End desc-->

    <div class="price-area">
      <div class="box" data-ng-repeat="place in placePrizes.places">
        <a data-ng-if="!place.active" href="javascript:" data-ng-click="setPlacePrize(place,$index)" class="add-prize"></a>
        <div data-ng-if="place.active" class="set-prize">
          <i>{{$index+1}}</i>
          <a data-ng-hide="$index === 0 && prizes.activeCount === 1" href="javascript:" class="close-btn" data-ng-click="removePlacePrize(place,$index)"></a>
          <div class="input-cnt">
            <input data-numbers-only="numbers-only" data-ng-model="place.prize" data-ng-blur="updatePrizes()" type="text">
          </div>
        </div>
      </div>
    </div>
    <!--End price area-->

    <div class="total-prize">
      Prize Total : ${{prizes.totalPrize | number:0}}
    </div>
    <!--End price area-->
    <p class="customer-account-desc">Challenge prizes will be charged to customer account: <span>(additional fees may apply, not shown here.)</span></p>
    <!--End customer-account-desc-->
    <div class="customer-account-holder">
      <input class="customer-account-name" type="text" data-ng-model="prizes.customerAccountName" data-ui-autocomplete="autoComplete" >
    </div>
    <!--End customer-accounts-->
  </div>
  <!--End .section content-->
</section>
<!--End .section-->